<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="productoForm">

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" 
                 label="Nombre del producto" 
                 labelPlacement="floating" 
                 formControlName="nombre">
      </ion-input>
    </ion-item>
    <div class="error-container" *ngIf="productoForm.get('nombre')?.touched && productoForm.get('nombre')?.invalid">
      <ion-text color="danger" class="ion-padding-start">
        <small>* El nombre es obligatorio</small>
      </ion-text>
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input type="number" 
                 label="Precio ($)" 
                 labelPlacement="floating" 
                 formControlName="precio">
      </ion-input>
    </ion-item>
    <div class="error-container" *ngIf="productoForm.get('precio')?.touched && productoForm.get('precio')?.invalid">
      <ion-text color="danger" class="ion-padding-start">
        <small *ngIf="productoForm.get('precio')?.errors?.['required']">* El precio es obligatorio</small>
        <small *ngIf="productoForm.get('precio')?.errors?.['min']">* El precio debe ser mayor a 0</small>
      </ion-text>
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input type="number" 
                 label="Stock Disponible" 
                 labelPlacement="floating" 
                 formControlName="stock">
      </ion-input>
    </ion-item>
    <div class="error-container" *ngIf="productoForm.get('stock')?.touched && productoForm.get('stock')?.invalid">
      <ion-text color="danger" class="ion-padding-start">
        <small *ngIf="productoForm.get('stock')?.errors?.['required']">* El stock es obligatorio</small>
        <small *ngIf="productoForm.get('stock')?.errors?.['pattern']">* El stock debe ser un número entero</small>
      </ion-text>
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" 
                 label="Código del producto" 
                 labelPlacement="floating" 
                 formControlName="codigo"
                 placeholder="Ej: ABC12345">
      </ion-input>
    </ion-item>
    <div class="error-container" *ngIf="productoForm.get('codigo')?.touched && productoForm.get('codigo')?.invalid">
      <ion-text color="danger" class="ion-padding-start">
        <small *ngIf="productoForm.get('codigo')?.errors?.['required']">* El código es obligatorio</small>
        <small *ngIf="productoForm.get('codigo')?.errors?.['minlength'] || productoForm.get('codigo')?.errors?.['maxlength']">
          * El código debe tener exactamente 8 caracteres
        </small>
      </ion-text>
    </div>

    <ion-button type="button" 
                expand="block" 
                class="ion-margin-top" 
                [disabled]="productoForm.invalid"
                (click)="guardarProducto()">
      GUARDAR PRODUCTO
    </ion-button>

  </form>
</ion-content>